{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" type="text/css" />

{% endblock %}
{% block main %}
{% include "flash_messages.html" %}

 <div class="container">  <h2 id="title">Add Profile</h2>
 </div>
  
    <div class="form-container border-style">
    
    <form method = "POST"  enctype = "multipart/form-data" action="{{ url_for('profile') }}">
        {{ form.csrf_token }}
        <div class="container">
            {{ form.Firstname.label(class="block") }} {{ form.Firstname(class="field col-md-8") }}
        </div>
        <div class="container">
            {{ form.Lastname.label(class="block") }} {{ form.Lastname(class="field col-md-8") }}
        </div>
        <div class="container">
            {{ form.Gender.label(class="block") }} {{ form.Gender(class="field col-md-8") }}
        </div>
        <div class="container">
            {{ form.Email.label(class="block") }} {{ form.Email(class="field col-md-8", placeholder="jdoe@example.com") }}
        </div>
        <div class="container">
            {{ form.Location.label(class="block") }} {{ form.Location(class="field col-md-8") }}
        </div>
        <div class="container">
            {{ form.Biography.label(class="block") }} {{ form.Biography(class="field col-md-8") }}
        </div>
                <div class="container">
            {{ form.Profile_picture.label(class="block") }}
            
            {{ form.Profile_picture(class="field col-md-8") }}
        </div>
    <div class="container">
        <button type="submit" class="btn btn-success">Add Profile</button>
    </div>
    
</form>
</div>

{% endblock %}